@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    
    background: linear-gradient(to bottom right, blue, pink);
    background-image: url(img/dualipa.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
      
}
ul {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 30px;
}
li {
    display: grid;
    justify-content: center;
    align-items: center;
    
}
li a{
    text-decoration: none;
    color:black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 30px;
    -webkit-text-stroke: rgb(209, 144, 255); /*rgb(209, 144, 255);*/
    -webkit-text-stroke-width: 0.7px;
    font-style: normal;
    text-align: center;
    margin-top: 50%;
}
li a:hover{
    background-color: rgba(249, 184, 255, 0.781); /*rgba(230, 110, 241, 0.781);*/
    padding: 5%;
    border-radius: 30%;
    text-decoration: none;
    color: black;
}

ul a.active{
    background-color: rgba(249, 184, 255, 0.781);
    color: black;
    border-radius: 30%;
    width: 150%;
}

header{
    
    height: 10%;
}
nav{
    background-color: rgba(128, 128, 128, 0.295);
    border-radius: 8%;
    margin-left: 1%;
    margin-right: 1%;
    height: 15%;
    text-shadow: 2px 2px 4px white, 2px 2px rgb(189, 130, 238);
}
main{
    overflow-y: auto; 
    max-height: 100vh;
    background-color: rgba(128, 128, 128, 0.295);
    height: 70%;
}
#comienzo{
    border: solid;
    border-radius: 20%;
    border-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
h3{
    text-align: center;
    font-family: "Skranji", system-ui;
    font-weight: 900;
    color: black;
    text-shadow: 2px 1px violet, 3px 1px white;
    padding: 1%;
}
#container-padre{
    display: flex;
    justify-content: center;
    gap: 1%; 
    padding-top: 2%;
}

.plataformas{
    border-radius: 30%;
    width: 90px;
   
}

footer{
    height: 5%;
    margin-top: 1%;
}
footer p{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(128, 128, 128, 0.295);
   
}
#logo{
    width: 10%;
    height: 75%;
    border-radius: 20%;
    padding-top: 0.5%;
    padding-left: 0.5%;
}
#radical{
    width: 15%;
    height: 15%;
    
}
#card{
    border: solid;
    border-color: blue;
    width: 40%;
    display: block;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 2%;
    color: white;
    text-shadow: 2px 2px black;
}

#card span {
    align-items: center;
}

#card h3 {
    color: black;
    text-shadow: 2px 1px violet, 3px 1px white;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card{
    width: 330px;
    height: 270px;
    border-radius: 8px;
    box-shadow: 0 2 2 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 4px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .card .imgmerch{
    width: 150px;
    height: 150px;
}
.container .card h4{
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-image: linear-gradient(150deg, #9500ff, #09ff,#00DDFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: white;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
    padding-top: 4px;
    color: white;
    -webkit-text-stroke: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.2px;
    text-shadow: 2px 2px 4px rgb(252, 202, 255), 2px 2px rgb(0, 0, 0);
}
button{
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09ff,#00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
    transition: .3s;
    margin-left: 37%;
}
button span{
    background-color: #111;
    padding: 10px 20px;
    border-radius: 6px;
    transition: .3s;
    
}
button:hover span{
    background: none;
}
button:active{
    transform: scale(0.9);
}
.card a{
    text-decoration: none;
}

.card p {
    text-align: center;
}
.carousel{
    overflow: hidden;
    width: 90%;
    max-width: 120em;
    padding: 2em;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    margin-left: 3%;
    margin-right: 3%;
}
.carousel .grande{
    display: flex; 
    flex-flow: row nowrap; 
    width: 200%;
    padding: 2em;
    box-shadow: 0 12px 16px rgba(40, 5, 241, 0.849);
    justify-content: space-between;
    transition:all .5s ease;
    transform: translateX(0%);
   
}
.carousel .img{
    width: calc(45% / 5 -1em);
    box-shadow: 0 12px 16px rgba(109, 13, 218, 0.842);
    min-width: 10vh;
    margin: auto;
    
}
.carousel .puntos{
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
   
}
.carousel .punto{
    width: 1em;
    height: 1em;
    margin: 1em 1em 0;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.932);
    background-color: #27202c;
}
.carousel .punto.activo{
    background-color: rgb(2, 39, 250);
}
.carousel h2{
    text-align: center;
    font-family: "Skranji", system-ui;
    font-weight: 900;
    text-shadow: 2px 1px violet, 3px 1px white;
    padding-bottom: 2%;
}
#video {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    background-color: rgba(5, 5, 184, 0.233);
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 2%;
}
#video video{
    width: 50%;
    height: 50%;
    border-radius: 10%;
}
#video h2,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1%;
    
}


#dua{
    width: 30%;
    height: 75%;
    border-radius: 40%;
   
}
#sobreDua{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    height: 60vh; 
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
#sobreDua  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    padding-top: 1%;
    color: white;
    text-shadow: 2px 2px black;
}

#sobreDua h2 {
    font-family: "Skranji", system-ui; /*'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    text-align: justify;
    padding-top: 1%;
    color: black;
    text-shadow: 2px 1px violet, 3px 1px white;
}

table{
    border: solid;
    border-color: rgb(111, 0, 255);
    margin-top: 3%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    box-shadow: 20px 16px 16px rgba(0, 0, 0, 0.719);
    margin: 0 auto;
    margin-top: 1%;
}
#encabezado{
    background-color: #685ae9bb;
    
}
#impar{
    background-color: #e244e2;
}
#impar:hover{
    background-color: violet;
}
#par{
    background-color: rgb(180, 99, 255);
}
#par:hover{
    background-color: rgb(202, 146, 255);
}

.form {
    max-inline-size: 550px;
    margin: auto;
  }
  
  .form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
  }
  
  .form label span {
    color: #DA1414;
  }
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 2em;
    font-family: inherit;
  }
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  
  
  .contact {
    margin-block-end: 5em;
    font-size: large;
  }
  
  #trucazo {
    opacity: 0;
  }
  
  @media screen and (min-width: 768px) {
    .hero-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "description image";
    }
  
    .hero-description {
      grid-area: description;
    }
  
    .hero-image {
      grid-area: image;
    }
    .hero-image img {
      inline-size: 500px;
      margin-top: -50px;
    }
  
    .pre-projects-content {
      max-inline-size: 900px;
      margin: auto;
    }
  
    .project {
      grid-template-areas: "description image";
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3em;
    }
    .project-cta {
      display: flex;
      align-items: center;
      gap: 1em;
    }
    .project-cta button + button {
      margin: 0;
    }
  
    .testimony {
      margin: auto;
      padding: 5em;
      text-align: center;
    }
    .testimony-copy {
      font-size: 2.2em;
      line-height: 55px;
    }
  
    .testimony-title {
      font-size: 1.5em;
    }
    .project, .testimony {
      margin-block: 5em;
    }
  
    .form .tag span {
      display: block;
      text-align: center;
    }
  
  }